// by Correy Winke
// 10/17/16

//  customize the bootstrap compents to fit the page

//  fix styling to fit the page
$navBackgroundColore: #a50000

.nav-tabs
  position: fixed
  width: 100%
  background-color: #3c4865

  a:hover
    background-color: $navBackgroundColore !important

  a
    font-size: 1.3em
    color: #fff

.active a
  background-color: lighten($navBackgroundColore, 5) !important
  color: #fff !important

  &:hover
    background-color: lighten($navBackgroundColore, 5) !important

//  style the nav elements
.myClass.active a
  background-color: $navBackgroundColore !important

.myClass2.active a
  background-color: darken($navBackgroundColore,2.5) !important

.myClass3.active a
  background-color: darken($navBackgroundColore,5) !important

.firstThing
  margin: 5em 0 5em 0

//  style the article and sub elements

.jumbotron
  margin-top: 1em

.well
  letter-spacing: 0.5em
  margin-bottom: 5em

.well, .jumbotron, .panel
  box-shadow: 7px 4px 22px 3px rgba(0, 0, 20, 0.27)
  font-family: "dyslexie"

.panel-footer div
  @media screen and (max-width: 430px)
    transform: translateX(-0.3em)

.text-center
  font-size: responsive


.media-body img
  height: 20rem
  width: 20rem

.nav-pills a:hover
  background-color: darken($navBackgroundColore, 2) !important

.dropdown-menu
  background-color: #4C6A92

  a
    color: #fff !important


.nav .open>a, .nav .open>a:hover, .nav .open>a:focus
  border-color: #3c4865 !important
  background-color: $navBackgroundColore
