@charset "UTF-8"

/* by correy winke */
/* beging in the diffrent styles to make on big file */
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap"
@import "bsCustom"
@import "footer"
@import "base"

/* the darken background */
\:root
  --bg: #B93A32
  --navBackgroundColor: #D1F8A1
  --myBlue: #4C6A92

*
  outline: 0 !important

body
  background-color: var(--bg)
  color: var(--myBlue)

/* load a custom font */
@font-face
  src: url(../fonts/Dyslexie.ttf)
  font-family: "dyslexie"

/* display the bootstrap page only */
section > article:last-child
  display: none

pre
  color: var(--myBlue) !important

/* display the code correctly */
.myReactCode
  white-space: pre-wrap

  p
    margin: -5.5em
    @media screen and (max-width: 480px)
      margin: -5.5em 0 -5.5em 0

/* setup the animation */
.myAnim
  background: linear-gradient(var(--bg), #fff)
  height: 100vh
  width: 300vh
  position: fixed
  z-index: 999
  bottom: 0
  right: 0
  animation:
    name: progress
    fill-mode: forwards
    timing-function: ease-in
    duration: 0.7s
    iteration-count: 1

/* the what happens during the animation */
@keyframes progress
  0%
    opacity: 100%
  100%
    transform: translateY(100vh)
    opacity: 5%
    display: none

#btnHome
  position: fixed
  z-index: 99999
  border-radius: 5em
  bottom: 3em
  right: 2em
  @media screen and (max-width: 440px)
    bottom: 4em

  &:hover
    transition: all 0.2s ease
    transform: translateY(-0.5rem)

  a
    color: var(--navBackgroundColor) !important
    font-size: 1.25em


#myBody
  background:
    image: url(../images/dkBG2.png)
    size: cover

.indexFooter
  background-color: rgba(76, 106, 146, 0.50196)

  small
    letter-spacing: 2rem

// index well
#indexContainer

  .well
    background-color: var(--navBackgroundColor)

  button
    margin: 1rem 0 1rem 0
    position: relative

  .page-header
    border-bottom: 1px solid #773838

    #myWelcomeImage
      // https://github.com/tholman/github-corners
      background:
        image: url(../images/github-corner-right.svg)
        repeat: no-repeat
      height: 8rem
      width: 10rem
      position: relative
      transform: rotateZ(-45deg) translate(20rem,27.5rem)
      @media screen and (max-width: 490px)
        transform: rotateZ(-45deg) translate(6rem,13.5rem)
